* {
    font-family: Roboto, sans-serif;
}

.background-404 {
    background: url("../svg/404.svg") center center no-repeat;
    background-size: cover;
    text-shadow: 0 0 10px #fff;
}

.cat__pages__login__block {
    padding: 2.5rem 2.85rem 2.5rem;
}

.cat__pages__login__block__promo {
    padding: 0 0 2.28rem;
}

.cat__pages__login__block__inner {
    padding: 2rem 2.85rem 1.42rem;
}

.cat__pages__login {
    min-height: 100vh;
}

.lang-dropdown .dropdown-menu {
    min-width: unset;
    padding: .5rem 1rem;
}

.lang-image-shadowed {
    border-radius: 4px;
    box-shadow: 0 0 10px 1px #0000005e;
    background: rgba(0, 0, 0, 0.3);
}

.lang-dropdown, .lang-image, .btn, label {
    cursor: pointer;
}

.cat__top-bar__item {
    padding-top: 0;
}

.cat__top-bar__right .cat__top-bar__item {
    margin-left: 1.2rem;
}

.card-body-no-padding {
    padding: 0;
}

#filters {
    padding: 1.25rem;
}

.form-group.has-danger label, .form-group.has-danger .form-control-feedback {
    color: #fb434a;
}
.lang-nav-tabs {
    margin-bottom: 1.25rem;
}
input, select, textarea, .input-group {
    max-width: 400px!important;
}

.cur-pointer {
    cursor: pointer;
}

.cat__core__control{
    margin-top: 0.3rem;
    margin-bottom: 0.4rem;
}

.new_row {
    border-left: 7px solid #46be8a!important;
}

.theme_title {
    font-size: 17px;
    color: #171717;
    font-weight: bold;
}

.theme_user_name {
    font-size: 14px;
    color: #5b5b5b;
    font-weight: bold;
}


.theme_user_name span{
    font-size: 14px;
    color: #4c89f2;
    font-weight: normal;
}

.theme_short{
    font-size: 14px;
    color: #434343;
    font-weight: normal;
}

.answer_text {
    color: #434343;
    font-size: 14px;
    background: #f7f8f8;
    border-radius: 4px;
}
