* {
    font-family: 'Montserrat Medium', sans-serif;
    font-size: 16px;
    color: #868686;
}

body {
    background: #f7f8f8;
}

header {
    background: #ffffff;
}

.background-404 {
    background: url("../svg/404.svg") center center no-repeat;
    background-size: cover;
    text-shadow: 0 0 10px #fff;
}

header .navbar-search {
    border-bottom: 1px solid #b2b2b2;
}

.form-control {
    border-radius: 2px;
    background: #ffffff;
    border: 1px solid #f2f2f2;
    color: #a2a2a2;
    font-size: 16px;
}

input.search {
    border-radius: 0;
    background: #f7f8f8;
    border: 1px solid #ffffff;
}

.search-button {
    background: transparent;
    cursor: pointer;
}
.input-group-addon {
    border-radius: 0;
    background: #f7f8f8;
    border: 1px solid #f7f8f8;
}
.form-control, button, a {
    box-shadow: none!important;
}

.cur-pointer {
    cursor: pointer;
}

input, select, textarea, .input-group {
    max-width: 400px!important;
}

.dropdown-menu-lang {
    min-width: auto;
    left: unset;
    right: 0;
}
.lang-dropdown>a{
    color: #4c89f2!important;
}
.lang-dropdown a{
    font-size: 18px;
}

.bg_header {
    position: absolute;
    right: -50px;
    bottom: -50px;
}
.alert {
    font-size: 15px;
}
.alert-header {
    background: url("../images/i_notify.png") left center no-repeat;
    color: #5e5e5e;
}

.bg_menu {
    background: url("../images/bg_menu.png") center bottom no-repeat #004494;
    padding-top: 25px;
    padding-bottom: 25px;
    max-width: 1600px;
    margin: 0 auto;
}
.project_content .bg_menu h1 {
    font-weight: bold;
    font-size: 25px;
}

.top-menu {
}

.top-menu a{
    padding: 0;
    color: #fff;
    border-bottom: 2px solid transparent;
}
.top-menu a.nav-link{
    margin-right: 7px;
}
.top-menu li:last-of-type a.nav-link{
    margin-right: 0;
}
.top-menu a:hover{
    border-bottom: 2px solid #93d20a;
}

.top-menu li.active a{
    border-bottom: 2px solid #93d20a;
}

a:hover, a:active, a:focus {
    color: #93d20a;
    text-decoration: none;
}

.top-menu li.divider{
    display: inline-block;
    vertical-align: middle;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #82adf6;
    margin-right: 7px;
}

.portal-home {
    font-size: 18px;
    color: #ffffff;
    border-bottom: 2px solid #93d20a;
}



.portal-menu {
}

.portal-menu a{
    padding: 0;
    color: #bdd4fd;
    border-bottom: 2px solid transparent;
}
.portal-menu a.nav-link{
    margin-right: 7px;
}
.portal-menu li:last-of-type a.nav-link{
    margin-right: 0;
}
.portal-menu a:hover{
    border-bottom: 2px solid #93d20a;
}

.portal-menu li.active a{
    border-bottom: 2px solid #93d20a;
}

a:hover, a:active, a:focus {
    color: #93d20a;
    text-decoration: none;
}

.portal-menu li.divider{
    display: inline-block;
    vertical-align: middle;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #82adf6;
    margin-right: 7px;
}

.hr {
    margin-top: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #70a1f5;
}

.p-relative {
    position: relative;
}

.rectangle {
    display: inline-block;
    width: 5px;
    height: 58px;
    background: #93d20a;
    position: absolute;
    right: 0;
    bottom: -54px;
}

.bg_menu h1 {
    color: #ffffff;
}

.bg_menu h1 small{
    color: #ffffff;
    font-weight: bold;
    font-size: 25px;
}

h1 {
    font-size: 40px;
    font-weight: 600;
}

.bg-blue {
    background: #4c89f2;
    color: #ffffff;
}
.bg-blue h1{
    font-size: 1.5rem;
}

footer {
    max-width: 1600px;
    margin: 0 auto;
    padding: 25px 0;
    background: #004494;
    color: #ffffff;
}
.main_content {
    padding: 60px 0;
}
.copyright, .powered_by {
    font-size: 15px;
    color: #c2d6f8;
}
.powered_by a{
    color: #ffffff;
}
.powered_by a:hover{
    color: #93d20a;
}

.social_link {
    color: #ffffff;
    font-size: 13px;
}
.contacts {
    font-size: 20px;
    font-weight: 600;
}
.phone {
    font-size: 19px;
    font-weight: 600;
}
.email, .address {
    font-size: 14px;
}
.contacts, .phone, .email, .address {
    color: #ffffff;
}

.info_text h2{
    color: #071f3a;
}
h2 {
    font-size: 35px;
    font-weight: bold;
}
.sp-card {
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 0 0 10px 2px rgba(171, 164, 164, 0.1);
    border: 1px solid #ffffff;
}

.fast_link-add .fl_title {
    color: #93d20a;
}

.fast_link-reg {
}
.fast_link-search {
}

.fast_link-search .fl_title, .fast_link-reg .fl_title {
    color: #4d8af2;
}

.fl_icon {
    width: 26px;
}

.titles  {
    border-top: 1px solid #d2d3d3;
    border-bottom: 1px solid #d2d3d3;
}

.titles h2 {
    color: #434343;
}

.category_link:hover .sp-card {
    background: #f4f5f6;
    border: 1px solid  #f4f5f6;
}

.cat_title {
    color: #325781;
    font-weight: bold;
}

.category_link:hover .cat_title {
    color: #315680;
}

.cat_projects_count, .cat_projects_count strong{
    color: #8ca5c1;
    font-size: 14px;
}
.cat_img {
    max-width: 50px;
}


.project_link:hover .sp-card {
    border: 3px solid  #93d20a;
}

.project_link .sp-card {
    border: 3px solid  #fff;
}

.project_image {
    border-radius: 5px;
}

.project-date,.project-short_description  {
    color: #868686;
    font-size: 14px;
}
.project-title {
    color: #93d20a;
    font-size: 20px;
    font-weight: bold;
}

h3 {
    font-size: 25px;
    font-weight: bold;
}
h4 {
    font-size: 20px;
    font-weight: bold;
}
.search_title h3 {
    color: #434343;
}

.filters .dropdown-menu {
    right: 0;
}
.btn-filter {
    background: #ffffff;
    cursor: pointer;
    border: 1px solid #eaebeb;
}

.btn-filter-blue {
    color: #508cf2;
}
.btn-filter-green {
    color: #93d20a;
}

.filters .dropdown-menu label, .filters .dropdown-menu .custom-control-description  {
    color: #343434;
    font-size: 15px;
}

.custom-filter {
    padding-left: 0;
    padding-right: 1.5rem;
}

.custom-filter .custom-control-indicator{
    left: auto;
    right: 0;

}

.filters .dropdown-item {
    white-space: unset;
}
.filters .dropdown-item:active {
    background: #ffffff;
}

.custom-control-input:checked~.custom-control-indicator {
    background-color: #8ac509;
}

.custom-control-input:active~.custom-control-indicator {
    background-color: #8ac509;
}

.filters .dropdown-item:hover {
    background: #ffffff;
}

.btn-additional-filters, .btn-reset-filters, .btn-apply-filters {
    font-weight: bold;
    text-transform: uppercase;
    background: #ffffff;
    border-radius: 50px;
    font-size: 13px;
}
a.btn-reset-filters, .btn-reset-filters {
    color: #ff7676;
    border: 1px solid #ff7676;
}
.btn-apply-filters, a.btn-apply-filters {
    color: #93d20a;
    border: 1px solid #93d20a;
}
.btn-additional-filters, a.btn-additional-filters {
    color: #4c89f2;
    border: 1px solid #4c89f2;
}

.filter-icon {
    width: 30px;
    vertical-align: bottom;
}
.search_page_title {
    border-top: 1px solid #d2d3d3;
    border-bottom: 1px solid #d2d3d3;
}
.search_page_title h4{
    color: #434343;
}
.search_page_title small{
    color: #818383;
}

ul.pagination {
    display: block;
    text-align: center;
}

ul.pagination li {
    display: inline-block;
    border: none;
    border-radius: 50%;
}

ul.pagination a.page-link {
    border: none;
    border-radius: 50% !important;
    background: transparent;
    color: #434343;
}

ul.pagination a.page-link:hover {
    text-decoration: underline;
}

ul.pagination .page-item.disabled .page-link {
    border: none;
    border-radius: 50px !important;
    background: transparent;
    color: #868e96;
}

ul.pagination .page-item.active .page-link {
    border: none;
    border-radius: 50px !important;
    background: #4d8af2;
    color: #ffffff;
}

.project-card {
    border-bottom: 3px solid #93d20a;
    background: url("../images/bg_project_card.png") bottom left no-repeat #fff;
}

.project_card-title {
    font-size: 20px;
    /*min-height: 90px;*/
    color: #434343;
    font-weight: bold;
}

.project_card-invested {
    font-size: 18px;
    color: #434343;
    text-transform: lowercase;
}

.project_card-short_description .title {
    font-size: 20px;
    color: #000;
}

.project_card-short_description .short_description {
    color: #818383;
}

.project_card-hr {
    border-top: 1px solid #b2b2b2;
}

.project-card .btn-additional-filters, .project-card .btn-apply-filters {
    border: 2px solid;
}

.progress {
    height: 6px;
    margin-top: 10px;
}

.progress-bar {
    background-color: #93d20a;
}


.project_page-developer {
    font-size: 20px;
    color: #434343;
    font-weight: bold;
}

.project_logo {
    width: 125px;
}

.project_page-about_developer {
    color: #434343;
}

.project_page-desc-title {
    color: #434343;
}

.project_page-desc {
    font-size: 15px;
    color: #434343;
    /*columns: 2;*/
}

.project_page_stats {
    color: #434343;
}

.project_page-presentation {
    font-size: 15px;
    color: #4c89f2;
}

.download-icon {
    width: 25px;
}

.stat_title {
    color: #0f2946;
    font-weight: bold;
    line-height: 18px;
    padding-left: 10px;
    padding-bottom: 5px;
    font-size: 18px;
}


.stat_body {
    color: #414141;
    font-size: 16px;
    line-height: 18px;
    padding-left: 10px;
}
.stat_img {
}

.btn-submit {
    background: #93d20a;
    border-color: #93d20a;
    color: #ffffff;
    font-size: 20px;
    font-weight: normal;
}
.btn-submit:hover, .btn-submit:focus, .btn-submit:active {
    background: #76d20d;
    border-color: #76d20d;
    box-shadow: 0 0 10px 2px #93d20a61!important;
}

.profile-nav {
    border-bottom: 1px solid #cdcece;
}

.profile-nav .nav-item a.nav-link {
    color: #434343;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 4px solid transparent;
}

.profile-nav .nav-item a.nav-link:hover,
.profile-nav .nav-item a.nav-link:focus,
.profile-nav .nav-item a.nav-link:active {
    color: #4d8af2;
    border-bottom: 4px solid #4d8af2;
}

.profile-nav .nav-item a.nav-link.active {
    color: #4d8af2;
    border-bottom: 4px solid #4d8af2;
}

.profile_notice {
    color: #a2a2a2;
    font-size: 16px;
}
label {
    color: #a2a2a2;
}

.pa-project-text {
    color: #818383;
}

.project-card table th {
    font-size: 17px;
    border-top: 0;
    color: #000000;
}

.passport-title {
    color: #23334e;
    font-size: 22px;
    font-weight: bold;
}

.passport-navigation {
    color: #404040;
    font-size: 20px;
}
.passport-navigation span {
    color: #4c89f2;
    font-size: 20px;
}

.modal-content {
    background: #4d8af2;
}

.modal-header {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 0;
}

.modal-footer {
    border-top: 0;
    background: url(../images/bg_modal.png) bottom right no-repeat transparent;
}

.btn-modal {
    color: #4d8af2;
    font-size: 14px;
    background: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
}

.passport-investor-id {
    color: #93d20a;
    font-weight: bold;
}

.passport-investor-name {
    color: #404040;
}

.passport-project-title {
    color: #23334e;
    font-size: 25px;
    font-weight: bold;
}
.passport-project-title span{
    color: #434343;
    font-size: 20px;
    font-weight: bold;
}

.table-passport tr td:nth-of-type(1) {
    color: #434343;
    font-size: 18px;
}
.table-passport tr td:nth-of-type(2) {
    color: #818383;
    font-size: 16px;
}

.fav_icon {
    position: absolute;
    font-size: 30px;
    text-shadow: 0 0 10px #fff;
    right: 1.5rem;
    display: inline-block;
    z-index: 100;
    color: #93d20a;
}

.tab-icons {
    color: #93d20a;
    font-size: 25px;
    vertical-align: bottom
}

.investors-submenu .nav-link {
    font-size: 18px;
    color: #434343;
}

.investors-submenu .nav-link span {
    color: #4c89f2;
}

.investors-submenu .nav-link.active {
    font-size: 18px;
    color: #434343;
    background: #f7f8f8;
    box-shadow: 0 0 10px 2px rgba(171, 164, 164, 0.2)!important;
}

.new_row {
    border-left: 7px solid #46be8a!important;
}

.theme_title {
    font-size: 17px;
    color: #171717;
    font-weight: bold;
}

.theme_user_name {
    font-size: 14px;
    color: #5b5b5b;
    font-weight: bold;
}


.theme_user_name span{
    font-size: 14px;
    color: #4c89f2;
    font-weight: normal;
}

.theme_short{
    font-size: 14px;
    color: #434343;
    font-weight: normal;
}

.answer_text {
    color: #434343;
    font-size: 14px;
    background: #f7f8f8;
    border-radius: 4px;
}
.theme_icons {
    font-size: 14px;
    color: #606060;
    font-weight: normal;
}

.theme_icons i {
    font-weight: normal;
    vertical-align: top;
}

.forum-input::placeholder {
    color: #4c89f2!important;
    font-size: 14px;
    text-transform: uppercase;
}

.forum-input {
    color: #4c89f2!important;
    font-size: 14px;
    border-radius: 50px;
    border: 1px solid #4c89f2;
    background: transparent;
}

.forum_search_button {
    position: absolute;
    right: 10px;
    top: 2px;
    width: 30px;
    cursor: pointer;
}

.add_theme_button {
    background: url("../images/bg_add_theme.png") center center no-repeat transparent;
    background-size: cover;
    border-radius: 5px;
    padding: 30px 15px;
}
.add_theme_button-icon {
    vertical-align: middle;
    width: 24%;
}

.add_theme_button-text {
    font-size: 20px;
    vertical-align: middle;
    width: 75%;
    color: #fff;
    font-weight: bold;
}

.add_theme_button-text span{
    font-size: 15px;
    color: #fff;
    font-weight: normal;
}

.fb_left_button, .tg_left_button {
    background-size: cover;
    border-radius: 5px;
    padding: 7px 15px 10px;
}

.fb_left_button {
    background: url("../images/bg_fb.png") center center no-repeat transparent;
}


.tg_left_button {
    background: url("../images/bg_tg.png") center center no-repeat transparent;
}

.fb_left_button-icon, .tg_left_button-icon {
    vertical-align: middle;
    padding-right: 10px;
    width: 24%;
}
.tg_left_button-icon img{
    width: 15px;
}
.fb_left_button-icon img{
    width: 9px;
}

.fb_left_button-text, .tg_left_button-text {
    font-size: 13px;
    vertical-align: middle;
    width: 75%;
    color: #fff;
    font-weight: normal;
}
.hot_themes_header-icon, .hot_themes_header-text {
    vertical-align: middle;
}
.hot_themes_header-text {
    font-size: 20px;
    color: #434343;
}
.hot_themes-title {
    color: #434343;
    width: 69%;
    font-size: 13px;
    vertical-align: middle;
}

.hot_themes-count {
    color: #93d20a;
    border-left: 1px solid #93d20a;
    vertical-align: middle;
    width: 30%;
    font-size: 30px;
    padding-top: 10px;
    line-height: 20px;
}

.hot_themes-count span {
    color: #aeadad;
    font-size: 13px;
}

.answers_heading {
    color: #3a3a3a;
    font-size: 20px;
    background: #f7f8f8;
}
.dropdown-menu {
    max-height: 300px;
    overflow: auto;
}

.navbar-nav .dropdown-menu {
    position: absolute;
    float: left;
}

.navbar-nav .dropdown a.nav-link {
    color: #fff;
}


.navbar-nav .dropdown-item a{
    color: #333;
}

.dropdown-toggle-no-icon:after {
    display: none;
}

.search_filter::placeholder {
    text-align: center;
    color: #508cf2;
}

.search_filter {
    color: #508cf2;
}


@media (min-width: 800px) {
    .project_card-title {
        height: 80px;
        overflow: hidden;
    }
    .project_card-short_description .short_description {
        height: 70px;
        overflow: hidden;
    }
}

.partners-card  {
    background: #fff;
    border-radius: 5px;
}

.partners-card img {
    width: 60px;
}

a.all-news {
    position: relative;
    color: #4c89f2;
    font-size: 16px;
    z-index: 10;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

a.all-news::after {
    content: " ";
    display: inline-block;
    background: #4c89f2;
    height: 2px;
    width: 45px;
    left: 0;
    position: absolute;
    bottom: 0;
    z-index: 0;
}

.partners_section h2 {
    font-size: 35px;
    color: #434343;
}


.news-card img{
    border-radius: 10px;
    background: #ffffff;
    border: 1px solid #f7f8f8;
}

.news-card .date {
    font-size: 16px;
    color: #c3cfd9;
    height: 25px;
    overflow: hidden;
}

.news-card .title {
    font-size: 18px;
    height: 90px;
    overflow: hidden;
    font-weight: bold;
}
.news-card .description {
    font-size: 14px;
    color: #868686;
    height: 97px;
    overflow: hidden;
}

.news-card .description {
    margin: 0 50px;
    background: #fff;
    padding: 10px 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.news-card .title {
    margin: 0 50px;
    background: #fff;
    padding: 10px 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


.news-card .title {
    color: #315680;
}
