* {
    font-family: 'Montserrat Medium', sans-serif;
}

body {
    overflow-x: hidden;
    background: #f8f8fb;
}

.background-404 {
    background: url("../svg/404.svg") center center no-repeat;
    background-size: cover;
    text-shadow: 0 0 10px #fff;
}
@media (min-width: 1200px) {
    .container {
        max-width: 1400px;
    }
}

.copy_soc i {
    font-size: 25px;
}

.cur-pointer {
    cursor: pointer;
}
.voice-on {
    background: #004494;
    color: #fff;
}

.bg-blue {
    background: #004494;
    color: #fff;
}
.text-blue {
    color: #004494;
}
.bg-blue .text-blue {
    color: #fff;
}

header, footer, .full-screen {
    max-width: 100%;
    margin: 0 auto;
}

footer {
    background: url("../images/site/bg_footer.png") center bottom no-repeat;
    background-size: cover;
}

.bg_top_menu {
    position: absolute;
    right: -50px;
    bottom: -20px;
}

.bg_page_title {
    position: absolute;
    left: -45px;
    bottom: 100px;
    z-index: 10;
}

.dropdown-menu-lang {
    min-width: auto;
    left: unset;
    right: 0;
}
.lang-dropdown>a{
    color: #fff!important;
}
.lang-dropdown a{
    font-size: 15px;
}

.top-navbar .nav-item a.nav-link {
    font-size: 16px;
    color: #ffffff;
}

.top-sub-navbar .nav-item a.nav-link {
    font-size: 14px;
    color: #ffffff;
}

.top-navbar .nav-item.active a.nav-link, .navbar-light .navbar-nav .show>.nav-link {
    color: #01ffff;
}

.top-sub-navbar .nav-item.active  a.nav-link {
    color: #01ffff;
}

.top-navbar .nav-item a.nav-link:hover, .top-sub-navbar .nav-item a.nav-link:hover {
    color: #01ffff;
}

.top-navbar .nav-item:hover {
    border-bottom: 2px solid #01ffff;
}


.portal_link a {
    font-size: 18px;
    color: #fff;
    border-bottom: 2px solid #01ffff;
}

a:hover {
    text-decoration: none;
    color: #1eb9ff;
}
.dropdown-toggle-no-icon:after {
    display: none;
}
.top-navbar-collapse {
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}
.top-navbar .nav-item {
    border-bottom: 2px solid transparent;
    margin-bottom: -2px;
}
.top-navbar .nav-item.active {
    border-bottom: 2px solid #01ffff;
}

.header_bg {
    padding-top: 10px;
}
.navbar-light .navbar-toggler {
    color: #fff;
    border-color: #fff;
}

@media (min-width: 1200px) {
    .search-dropdown {
        left: unset;
        right: 0;
    }
}
h1 {
    font-weight: bold;
}
.page-title h1 {
    color: #fff;
    line-height: 42px;
}

.p-relative {
    position: relative;
}

.page-title {
    padding-top: 80px;
    padding-bottom: 30px;
    position: relative;
    z-index: 200;
}

.page-title a {
    display: inline-block;
    margin-top: 40px;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 7px;
    position: relative;
    bottom: 0;
}

a.decored {
    position: relative;
    z-index: 100;
}

a.decored::after {
    content: "";
    display: inline-block;
    background: #2acce4;
    height: 2px;
    width: 45px;
    left: 0;
    position: absolute;
    bottom: 0;
    z-index: 0;
}

.bg_header_bot {
    margin-top: 10px;
    position: relative;
    width: 100%;
    z-index: 100;
}

.page_title_date {
    font-size: 20px;
    color: #01ffff;
}

.bg_header_bot_right {
    position: absolute;
    right: -75px;
    bottom: -314px;
    z-index: 100;
}

.bg_header_circle {
    position: absolute;
    left: 10px;
    top: -30px;
    z-index: 150;
}
.main_content {
    margin-top: 162px;
}

.top_social {
    font-size: 13px;
    color: #fff;
    position: relative;
    font-weight: normal!important;
    text-transform: unset!important;
}

.top_social::after {
    display: inline-block;
    content: "";
    width: 30px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: 10px;
    margin-left: 10px;
}

.top-navbar .dropdown-menu a {
    color: #333;
}

.top-navbar .dropdown-menu a.active, .top-navbar .dropdown-menu a:hover {
    color: #0000fe;
}

.header_bg {
    background-size: cover!important;
}

.up_button {
    position: fixed;
    right: 0;
    bottom: 80px;
    z-index: 500;
}
.copy_text {
    color: #000;
    font-size: 15px;
}

.bottom-menu-title {
    font-size: 20px;
    color: #000;
    font-weight: bold;
}
.footer-contact  {
    font-size: 14px;
    color: #585858;
}
.footer_phone {
    font-size: 19px;
    font-weight: bold;
}
.bottom-menu-link {
    font-size: 14px;
    color: #585858;
}

.bottom-menu-link:hover, .bottom-menu-link.active {
    color: #0000fe;
}

.footer-menu {
    border-bottom: 1px solid #e2e2e2;
}

.social_link, .social_link:hover {
    font-size: 13px;
    color: #2acce4;
}

.powered_by, .copyright {
    font-size: 15px;
    color: #5c5c5c;
}

.powered_by a {
    color: #000;
}

.news_wrapper {
    background: url("../images/site/bg_news.png") center top no-repeat;
    background-size: cover;
    padding-bottom: 200px;
}

.section-heading {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #000;
}

.section-heading .main-text{
    position: relative;
    bottom: 0;
    z-index: 100;
}

.section-heading .back-shadow{
    left: 50%;
    width: 100%;
    transform: translate(-50%, 0);
    font-size: 90px;
    font-weight: bold;
    color: #e0e0ec;
    position: absolute;
    z-index: 50;
    bottom: 30px;
    opacity: 0.2;
}

.owl-nav {
    text-align: right!important;
    margin: 50px 0!important;
    display: block;
}

.owl-nav button {
    outline: none;
    background: #2acce4!important;
    color: #ffffff!important;
    border-radius: 50%!important;
    width: 45px!important;
    height: 45px!important;
    font-size: 25px!important;
}

.sp-card {
    background: #fff;
    border-radius: 10px;
    border: 1px solid #e9e9ed;
    position: relative;
    z-index: 500;
}

.sp-card::after {
    content: "";
    display: inline-block;
    height: 30px;
    background: #f4f6fb;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    bottom: -30px;
    left: 10%;
    right: 10%;
    z-index: 50;
    box-shadow: 0 8px 8px 0 rgba(204, 204, 204, 0.3);
}

.news-carousel .item {
    padding-bottom: 38px;
}

.news-card img{
    border-radius: 10px;
    width: 100%;
}

.news_pub img{
    height: 230px;
}

.news_pub2 img{
    height: 220px;
}

.sp-card .date {
    font-size: 16px;
    color: #c3cfd9;
    height: 25px;
    overflow: hidden;
}


.sp-card .title {
    font-size: 18px;
    color: #0c101f;
    height: 80px;
    overflow: hidden;
    font-weight: bold;
}

.sp-card .description {
    font-size: 14px;
    color: #848484;
    height: 83px;
    overflow: hidden;
}

.news-card .title {
    color: #0000fe;
}


a.all-news {
    position: absolute;
    color: #4c89f2;
    font-size: 16px;
    z-index: 10;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
    bottom: 20px;
    left: 0;
}

a.all-news::after {
    content: "";
    display: inline-block;
    background: #4c89f2;
    height: 2px;
    width: 45px;
    left: 0;
    position: absolute;
    bottom: 0;
    z-index: 0;
}

.about-wrapper {
    background: url("../images/site/bg_about.png") center top no-repeat;
    background-size: cover;
    position: relative;
    z-index: 600;
    padding: 180px 0;
    margin-top: -150px;
    min-height: 771px;
}

.about-wrapper .sub-title {
    font-size: 25px;
    color: #fff;
}

.about-wrapper .heading {
    font-size: 35px;
    color: #fff;
    font-weight: bold;
}


.about-wrapper .description {
    font-size: 16px;
    color: #edfdff;
}

.img-skewed {
    position: relative;
    z-index: 100;
    transform: skew(0deg, -5deg);
}

.div-skewed:after {
    content: "";
    display: inline-block;
    position: absolute;
    background: #5e5ff4;
    left: 5%;
    right: 5%;
    bottom: 0;
    top: 0;
    transform: skew(0deg, 5deg);
}

a.about-more {
    position: relative;
    color: #ffffff;
    font-size: 16px;
    z-index: 10;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
}


a.about-more:hover {
    color: #2acce4;
}

a.about-more::after {
    content: "";
    display: inline-block;
    background: #ffffff;
    height: 2px;
    width: 45px;
    left: 0;
    position: absolute;
    bottom: 0;
    z-index: 0;
}

.i_rectangle, .i_about_circle {
    position: absolute;
    z-index: 200;
}

.i_rectangle {
    left: 15px;
    top: -75px;
}

.i_about_circle {
    right: 15px;
    bottom: -175px;
}

.labs_wrapper {
    background: url("../images/site/bg_labs.png") center top no-repeat;
    background-size: cover;
    padding: 200px 0;
    margin-top: -170px;
}


/*.labs_wrapper .section-heading .back-shadow{*/
    /*line-height: 90px;*/
    /*top: 60px;*/
/*}*/
.labs-card {
    margin-bottom: 80px;
}

.labs-second {
    padding-top: 0;
}

.labs-third {
    padding-top: 0;
}


@media (min-width: 768px) {
    /*.labs_wrapper .section-heading{*/
        /*position: absolute;*/
        /*right: 10%;*/
    /*}*/

    .labs-second {
        padding-top: 200px;
    }

    .labs-third {
        padding-top: 0;
    }
}

@media (min-width: 1200px) {
    .labs-second {
        padding-top: 150px;
    }

    .labs-third {
        padding-top: 300px;
    }
}

.video_wrapper {
    background: url("../images/site/bg_video.png") center top no-repeat;
    background-size: cover;
    padding: 150px 0;
    min-height: 975px;
    margin-top: -170px;
    position: relative;
    z-index: 150;
}


.sites-wrapper {
    background: url("../images/site/bg_sites.png") center top no-repeat;
    background-size: cover;
    padding: 200px 0;
    margin-top: -170px;
    position: relative;
    z-index: 50;
}

.btn-video {
    font-size: 20px;
    color: #fff;
    border-radius: 50px;
    background: #1ae1fe;
    padding: 15px 30px;
}

.btn-video:hover {
    color: #fff;
}

.video_rectangle {
    position: absolute;
    left: 15px;
    top: -175px;
}


@media (min-width: 1200px) {
    .sites-wrapper .main-text {
        width: 100%;
        display: inline-block;
        border-right: 4px solid #4e4ff2;
    }
}

.sites-card {
    background: #fff;
    border-radius: 5px;
    border: 1px solid #e9e9ed;
    border-bottom: 7px solid #2acce4;
}

.sites-card .title{
    color: #252527;
    font-size: 16px;
    height: 72px;
    overflow: hidden;
}

.form_wrapper {
    background: url("../images/site/bg_form.png") center top no-repeat;
    background-size: cover;
    padding: 150px 0;
    min-height: 800px;
    margin-top: -120px;
    position: relative;
    z-index: 150;
}

.form_wrapper .input-group-addon{
    background: transparent;
    border: 0;
    border-bottom: 2px solid #fff;
    border-radius: 0;
}

.form_wrapper input, .form_wrapper input:focus, .form_wrapper input:active{
    background: transparent;
    color: #fff;
    font-size: 14px;
    outline: none;
    box-shadow: none;
    border: 0;
    border-bottom: 2px solid #fff;
    border-radius: 0;
}

.form_wrapper textarea, .form_wrapper textarea:focus, .form_wrapper textarea:active{
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-size: 14px;
    outline: none;
    box-shadow: none;
    border: 1px solid #6060fc;
}

.form_wrapper .input-group{
    opacity: 0.7;
}

.form_wrapper input:focus>.form_wrapper .input-group{
    opacity: 1;
}

.form_wrapper textarea::placeholder{
    color: #dcdddd;
    font-size: 14px;
}


.form_wrapper input::placeholder{
    color: #f7f8f8;
    font-size: 14px;
}

.form_wrapper .input-group-addon img{
    opacity: 0.5;
}

.page_wrapper {
    padding-bottom: 200px;
    background: url("../images/site/bg_news.png") center top no-repeat;
    background-size: cover;
}


ul.pagination {
    display: block;
    text-align: center;
}

ul.pagination li {
    display: inline-block;
    border: none;
    border-radius: 50%;
}

ul.pagination a.page-link {
    border: none;
    border-radius: 50% !important;
    background: transparent;
    color: #434343;
}

ul.pagination a.page-link:hover {
    text-decoration: underline;
}

ul.pagination .page-item.disabled .page-link {
    border: none;
    border-radius: 50px !important;
    background: transparent;
    color: #868e96;
}

ul.pagination .page-item.active .page-link {
    border: none;
    border-radius: 50px !important;
    background: #4d8af2;
    color: #ffffff;
}

.partners-card img {
    width: 150px;
}

.partners-card {
    padding: 3.5rem;
}

.all_news_wrapper .news-card {
    margin-bottom: 50px;
}

.top-navbar .dropdown-menu{
    max-width: 300px;
    min-width: 300px;
}

.top-navbar .dropdown:hover>.dropdown-menu {
    display: block;
}

.top-navbar .dropdown-menu .dropdown-item{
    white-space: unset;
    padding: 0;
}
.top-navbar .dropdown-menu .dropdown-item a{
    padding: .4rem 1.5rem;
    display: inline-block;
    width: 100%;
    font-size: 15px;
    line-height: 1rem;
}

.lang-dropdown img {
    width: 25px;
}


.inno_week_wrapper {
    background: url("../images/site/bg_video.png") center top no-repeat;
    background-size: cover;
    padding: 150px 0;
    min-height: 975px;
    margin-top: -170px;
    position: relative;
    z-index: 150;
}
.mp_video {
    position: absolute;
    top: 0;
    background: #000;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mp_video video{
    width: 100%;
}

.mp_video_banner video{
    filter: brightness(50%);
}
