.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #1eb9ff;
    background-color: none;
    border-color: #ddd;
    border-top: 1px solid #1eb9ff;
    border-bottom: 1px solid #F9F9FC;
}

.tab-content>.tab-pane h3{
    font-size: 20px;
    color: #1eb9ff;
    margin-bottom: 15px;
    font-style: italic;
}

.tab-content>.tab-pane h5{
    font-size: 16px;
    color: #000;
    margin-bottom: 5px;
}

.tab-content>.tab-pane a{
    color: #000;
}

.tab-content>.tab-pane i{
    color: #1eb9ff;
    margin-right: 5px;
    vertical-align: middle;
}

.dropdown-menu{
    background: rgba(1,255,255,0.5);
}

.top-navbar .dropdown-menu a {
    color: #fff;
}

.top-navbar .dropdown-menu a.active, .top-navbar .dropdown-menu a:hover {
    color: #01ffff;
}

.dropdown-item:hover {
    background: rgba(1,166,166,0.8);
}

td {
    padding: 10px 10px 0;
}


ul {
    margin-bottom: 0;
}

ul.item__requirements li {
    position: relative;
    color: #3c3c3c;
    list-style: none;
}

ul.item__requirements li::before {
    color: #82fbff;
    content: "\2022";
    font-size: 3em;
    padding-right: 1.1225em;
    position: relative;
    top: -25px;
    left: -25px;
    position: absolute;

}

ul.item__requirements li.item__price:before {
    content: none;
}

ul.vacancy li.vacancy__item {
    display: block;
    margin: 20px auto;
    max-width: 900px;
    background: #fff;
    border-radius: 10px;
    padding: 20px 20px 50px;
    box-shadow: 0px 5px 2px #c7c7c7;
    position: relative;
}

ul.vacancy li.vacancy__item ul.item__other-requirements {
    right: 0;
    left: 0;
    display: flex;
    flex-flow: nowrap;
    margin-top: 0;
    position: absolute;
    bottom: 5px;
    background: #fff;
    height: 45px;
    padding-top: 10px;

}

ul.vacancy li.vacancy__item ul.item__other-requirements li {
    display: flex;
    margin: 0 20px;
}

ul.vacancy li.vacancy__item ul.item__other-requirements li:first-child {
    margin-left: 0;
}

ul.vacancy li.vacancy__item > h5 {
    color: blue;
    margin-left: 15px;
    margin-bottom: 20px;
}

ul.vacancy {
    padding: 0;
}

ul.vacancy ul.item__other-requirements li p {
    /*margin-left: 20px;*/
}
ul.vacancy li.vacancy__item .panel-group a {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
}
ul.vacancy li.vacancy__item .panel-group a svg {
    width: 25px;
    height: 25px;
}
@media(max-width: 992px) {
    ul.vacancy li.vacancy__item {
        max-width: 100%;
    }
    ul.vacancy ul.item__other-requirements li p {
        /*margin-left: 20px;*/
        font-size: 11px;
        margin-top: 10px;
    }
    ul.vacancy ul.item__other-requirements li svg {
        margin-top: 5px;
    }
    ul.vacancy li.vacancy__item ul.item__requirements {
        font-size: 15px;
    }
}

ul.vacancy li.vacancy__item > h5 {
    max-width: 95%;
}


.structure {
    font-size: 14px;
    max-width: 1110px;
    min-width: 1110px;
    overflow-x: scroll !important;
    padding-bottom: 50px;
}
.structure .structure__top {
    display: flex;
    flex-flow: nowrap;
    width: 300px;
    margin: 0 auto;
    position: relative;
}
.structure button[data-toggle=modal] {
    border: none;
    background: #fff;
    outline: none;
    padding: 15px 10px;
    max-width: 90%;
    min-width: 90%;
    border-radius: 5px;
}
.structure .structure__top button[data-toggle=modal] {
    margin: 20px 0;
}
.structure .structure__body {
    position: relative;
}
.structure .structure__body .structure__list {
    display: flex;
    padding-top: 50px;
}
.structure .structure__body .structure__list li {
    display: block;
    flex-basis: 33%;
}


