body {
  min-width: 320px;
  font-family: 'Gotham Pro';
}

.site-wrapper {
  min-height: 100vh;
  position: relative;
  transition: all 400ms;
}

@media (min-width: 992px) {
  h1, .h1 { font-size: 60px }

  h2, .h2 { font-size: 50px }

  h3, .h3 { font-size: 40px }

  h4, .h4 { font-size: 30px }

  h5, .h5 { font-size: 20px }

  h6, .h6 { font-size: 16px }
}

b {
  font-weight: 500;
}

[class*="text-"] a {
  color:inherit;
}

.txt-size-lg {
  font-size: 1.19rem;
}

.txt-size-sm {
  font-size: 0.88rem;
}

.op-50 {
  opacity: 0.5;
}

/* -------------------------------------------- */

.site-header {
  box-shadow: 0px 9px 21px rgba(22, 10, 2, 0.1);
  z-index: 1030;
  background-color: #fff;
  width: 100%;
  /*position: fixed;
  top:0;
  left: 0;*/
}

.flex-centered {
  display: flex;
  align-items: center;
}

.header-menu {
  position: relative;
  padding-right: 60px;
  display: inline-block;
  margin: 0 -1rem;
}

.header-menu .menu-visible {
  height: 70px;
  max-width: 100%;
}

.header-menu .dropdown {
  position: absolute;
  top:0;
  right: 0;
  height: 100%;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-menu .nav-item .nav-link {
  display: flex;
  align-items: center;
  min-height: 100%;
  transition: all 400ms;
  color: #282828;
  padding-left: 0;
  padding-right: 0;
}

.header-menu .nav-item .nav-link span {
  padding: 14px 20px;
  transition: box-shadow 400ms;
  display: block;
}

.header-menu .nav-item .nav-link:hover {
  color: #0598d6;
}

.header-menu .nav-item .nav-link:hover span {
  background-color: #fff;
  box-shadow: 0px 9px 21px rgba(22, 10, 2, 0.1);
}

.header-menu .nav li {
  position: relative;
}

.header-menu .nav li > ul {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top:100%;
  left: 0;
  background: #fff;
  list-style: none;
  padding: 1rem 0;
  margin: 0;
  transition: all 0ms 200ms;
  margin-top: 2px;
  border: 1px solid rgba(0, 0, 0, .05);
}

.header-menu .nav li:hover > ul {
  opacity: 1;
  visibility: visible;
  transition: all 0ms 0ms;
}

.header-menu .nav li > ul a {
  padding: 6px 1rem;
  display: block;
  transition: all 400ms;
}

.header-menu .nav li > ul a:hover {
  box-shadow: 0px 9px 21px rgba(22, 10, 2, 0.1);
  text-decoration: none;
}

.header-search {
  position: absolute;
  top:100%;
  right: 0;
  width: 100%;
  max-width: 480px;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: all 400ms;
}

.header-search form {
  transition: all 400ms;
  transform: translateY(-100%);
}

.show-search .header-search {
  opacity: 1;
  visibility: visible;
}

.show-search .header-search form {
  transform: translateY(0);
}

.header-search .form-control {
  padding-right: 4rem;
}

.header-search-btn {
  position: absolute;
  top:0;
  right: 0;
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  border: none;
  background: none;
  opacity: .6;
  transition: all 400ms;
}

.header-search-btn:hover {
  opacity: 1;
}

.search-btn i {
  display: none;
}

.search-btn i.standby {
  display: inline-block;
}

.show-search .search-btn i {
  display: inline-block;
}

.show-search .search-btn i.standby {
  display: none;
}

.text-muted {
  color:#000 !important;
  opacity: .5;
}

a.text-muted:hover, .btn.text-muted:hover {
  opacity: .8;
}

.caret {
  vertical-align: middle;
  transform: rotateZ(180deg);
}

.collapsed .caret {
  transform: rotateZ(0deg);
}

.dropdown-menu {
  min-width: auto;
  box-shadow: 0px 9px 21px rgba(22, 10, 2, 0.1);
  border-color:rgba(0, 0, 0, .03);
  border-radius: 10px;
  margin-top: 1rem;
}

a.text-muted:hover,
button.text-muted:hover {
  opacity: .5;
}

button,
.btn {
  cursor: pointer;
  transition: all 400ms;
}

button:focus,
.btn:focus,
.btn:active,
.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
}

/* ARTICLE LIST ITEM */

.articles-list {
  counter-reset: list 0;
}

.article-item {
  margin: 0 auto;
  box-shadow:0 20px 20px -20px rgba(0,0,0,.2);
}

.article-item-image {
  position: relative;
}

.article-item-image img {
  width: 100%;
}

.article-item-image a {
  position: relative;
}

.article-item-image a:hover {
  filter: contrast(1.3);
}

.article-item-content {
  padding: 20px;
  background-color: #fff;
  font-size: 14px;
  color: #9fa3a7;
}

.article-item-content p {
  line-height: 21px;
  height: 84px;
  overflow: hidden;
}

.article-item-title {
  font-size: 18px;
  color: #212121;
  margin-bottom: 10px;
  height: 63px;
  line-height: 21px;
  overflow: hidden;
}

.article-item-title a {
  color: #212121;
  text-decoration: none;
}

.article-item-title a:hover {
  color: #15af9f;
}

.article-item footer {
  background-color: #f1f1f2;
  border-left: 3px solid #2a9c8f;
  padding: 8px 15px;
  font-weight: 500;
  font-size: 10px;
  line-height: 22px;
  text-transform: uppercase;
  color: #9fa3a7;
}

.article-item footer i {
  margin-right: 4px;
  display: inline-block;
  line-height: normal;
}

/* INTRO */

.section-intro {
  position: relative;
}

@media (min-width: 1200px) {
  .section-intro:after {
    position: absolute;
    right: 0;
    bottom: -578px;
    width: 189px;
    height: 776px;
    background: url(../images/dots-dark.png) 0 0 no-repeat;
    z-index: 2;
    content:'';
    pointer-events: none;
  }
}

.swiper-slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.intro-slider .swiper-slide {
  display: flex;
  align-items: center;
  color: #fff;
  max-height: calc(100vh - 57px);
  height: 662px;
  padding: 100px 0;
}

.intro-slider .swiper-slide:before {
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  content:"";
  background: rgba(0, 0, 0, .2);
}

@media (min-width:992px) {
    .intro-slider .intro-container {
        max-width:50%;
    }
}

.swiper-navigation {
  position: absolute;
  bottom: -30px;
  z-index: 2;
  left: 30px;
  user-select: none;
}

.swiper-navigation > .swiper-button {
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  color: #282828;
  text-align: center;
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .08);
  border: none;
  transition: all 400ms;
  cursor: pointer;
  outline: none !important;
  font-size: 1.5em;
}

.swiper-navigation > .swiper-button:hover {
  background: #282828;
  color: #fff;
}

.intro-slider-2 {
  background: url(../images/intro-slider-bg.png) center / cover no-repeat;
}

.intro-slider-2 .swiper-slide {
  padding: 100px 15px 86px;
}

.intro-slider-2 .swiper-pagination {
  bottom: 48px;
}

.intro-slider-2 .swiper-pagination .swiper-pagination-bullet {
  background-color: #fff;
}

.swiper-pagination-bullet {
  margin: 0 4px;
  vertical-align: middle;
}

@media (min-width: 992px) {
  .intro-slider-2 {
    width: 40%;
    max-width: 100%;
    position: absolute;
    bottom:-92px;
    right: 0;
  }
  .intro-slider-2 .swiper-slide {
    padding: 100px 40px 86px;
  }
}



.text-bg {
  opacity: .08;
  color: #282828;
  font-size: 130px;
  font-weight: bold;
  white-space: nowrap;
  position: absolute;
  line-height: 1;
  user-select: none;
  pointer-events: none;
  top:-20px;
  left:0;
  z-index: -1;
}

.text-bg-wrap {
  position: relative;
  z-index: 1;
}

.text-bg.text-bg-light {
  color: #fff;
  opacity: .2;
}

.decoration-line {
  width: 78px;
  height: 4px;
  margin: 1rem 4px;
  border: none;
  border-radius: 2px;
}

.section-about {
  font-size: 18px;
  line-height: 1.6;
}

.play-button {
  position: absolute;
  top:50%;
  left: 50%;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  color: #fff;
  margin-left: -.5em;
  margin-top: -.5em;
  line-height: 1em;
  z-index: 1;
}

@media (max-width: 1199px) {
  .play-button {
    top: 100px;
    margin-top: 0;
  }
}

/* ------------------------- */

p.lead {
  font-size: 1.125rem;
}

.products-section {
  position: relative;
  padding-bottom: 72px;
}

.products-section:before {
  position: absolute;
  top:272px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f2f3f5;
  content:"";
}

.tablet-block {
  position: relative;
  padding-top: 6.4%;
  padding-bottom: 6.4%;
  padding-left: 4.8%;
  padding-right: 4.4%;
}

.tablet-block:after {
  position: absolute;
  background: url(../images/tablet.png) 50% 50% / contain no-repeat;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  content:"";
}

.tablet-image {
  padding-bottom: 65.116%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.tablet-slider {
  background-color: #282828;
}

.tablet-slider:after {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .2);
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  content:"";
  z-index: 1;
}

button.tablet-prev,
button.tablet-next {
  width: 3em;
  height: 3em;
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .08) !important;
  border: none;
  color: #0598d6;
  transition: all 400ms;
  line-height: 3em;
  text-align: center;
}

button.tablet-prev:hover,
button.tablet-next:hover {
  color: #fff;
  background-color: #0598d6;
}

.w-6 {
  width: 6em;
}

.site-footer {
  background: #3e434a url(../images/footer-bg.jpg) center bottom / cover no-repeat;
  font-size: 15px;
  color: #a5abb2;
}

.site-footer hr {
  border-top-color:rgba(255, 255, 255, .1);
}

.gallery-section,
.projects-section {
  position: relative;
}

.gallery-section:before,
.projects-section:before {
  position: absolute;
  top:198px;
  left: 0;
  background: url(../images/dots-light.png) 0 0 no-repeat;
  width: 494px;
  height: 288px;
  pointer-events: none;
  content:"";
}

.gallery-section .my-tabs a {
  opacity: .5;
  text-decoration: none;
}

.gallery-section .my-tabs a.active {
  opacity: 1;
}

.partner-image {
  min-height: 110px;
}

.my-tabs {
  letter-spacing: 20px;
}

.my-tabs li {
    display: inline-block;
    /*margin-right: 15px;*/
}

.my-tabs li a {
  letter-spacing: normal;
  display: inline-block;
  padding: 4px 0;
}

.news-section {
  position: relative;
}

.news-section:before {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 497px;
  height: 271px;
  background: url(../images/dots-dark-sm.png) 0 0 no-repeat;
  content:"";
}

.mobile-menu {
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  z-index: 1029;
}

.mobile-menu-overlay {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color:rgba(0, 0, 0, .3);
  transition: all 400ms;
}

.mobile-menu-panel {
  width: 250px;
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  background-color: #fff;
  transform:translateX(-100%);
  transition: all 400ms;
}

.mobile-menu-viewport {
  height: 100%;
  overflow-y: auto;
  padding: 57px 0 20px;
}

body {
  overflow-x: hidden;
}

body.menu-show {
  overflow: hidden;
}

body.menu-show .mobile-menu {
  visibility: visible;
}

body.menu-show .mobile-menu-overlay {
  opacity: 1;
}

body.menu-show .mobile-menu-panel {
  transform: translateX(0%);
}

.first-i {

}

.second-i {
  display: none;
}

body.menu-show .first-i {
  display: none;
}

body.menu-show .second-i {
  display: inline-block;
}

.mobile-search {
  position: relative;
}

.mobile-search .form-control {
  padding-right: 4rem;
}

.mobile-search-btn {
  position: absolute;
  top:0;
  right: 0;
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  border: none;
  background: none;
  opacity: .6;
  transition: all 400ms;
}

.mobile-search-btn:hover {
  opacity: 1;
}

.page-header {
  background-color:#f3f3f3;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position:relative;
}

.page-header:before {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,.5);
    content:"";
}

.image-with-content {
  position: relative;
  display: inline-block;
}

.image-with-content:before {
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom:0;
  content:"";
  background: linear-gradient(to top, rgba(0,0,0,.6) 0%, rgba(0,0,0,0) 50%);
}

.image-with-content .image-overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px;
}

.icon-rounded {
  width: 2em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  border-radius: 100%;
}


.projects-section {
  position: relative;
  z-index: 2;
}

.project-item {
  width: 100%;
  font-size: 14px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0, 0, 0, .3);
}

.project-item--image {
    position:relative;
    padding-bottom:75%;
    display:block;
}

.project-item--image img {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    -o-object-fit: cover;
	object-fit: cover;
}

.projects-section .my-tabs .active {
  text-decoration: none;
  color: #004994;
}

.project-item img {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

@media (max-width:1400px) {
    .header-address {
        display:none !important;
    }
}

.projects-slider .swiper-pagination-bullet-active {
  background-color: #fff;
}

.projects-slider {
  opacity: 0;
  visibility: hidden;
  transition: all 400ms;
}

.projects-slider.swiper-container-initialized {
  opacity: 1;
  visibility: visible;
}

.projects-slider .swiper-slide {
  height: auto;
  display: flex;
}

.project_more {
  position: absolute;
  bottom: 10px;
}

/* Dropdown */
.dropdown {
    cursor: pointer;
}
.dropdown > .dropdown-menu {
    /*top: 100%!important;*/
    transition: 0.3s all ease-in-out!important;
    margin-top: 0;
}
.dropdown:hover > .dropdown-menu {
    display: block!important;
    top: 100%;
}

.dropdown > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none!important;
}
.dropdown > .dropdown-toggle::after {
    display: none;
}
